=render 'modules/header'
.column_show
  =render 'modules/side_bar'
  .column
    .column__tittle
      %h2
        = @column.tittle
    .column__image
      = image_tag @column.image.url
    .column__text
      %p
        = @column.text
=render 'modules/footer'