%header
  .header
    .header__item
      .logo 
        =link_to 'COLLECTION', root_path
      -if user_signed_in?
        .user
          .user__left
            =link_to 'ログアウト', destroy_user_session_path, method: :delete
          .user__center
            =link_to '新規投稿', new_column_path
          .user__right
            =link_to '新規出品', new_product_path
      -else
        .user
          .user__left
            =link_to '新規登録', new_user_registration_path
          .user__right
            =link_to 'ログイン', new_user_session_path
  %ul.main-menu
    %li.page-btn
      =link_to 'TOP', root_path
    %li.page-btn
      =link_to 'ソーシャル', root_path
    %li.page-btn2
      =link_to 'プロダクト', products_path
